In Python, a function is a named sequence of statements that belong together. 
Functions allow code to be re-used so that complex programs can be built up out of simpler parts. 
Python has inbuilt functions, like `print()`, `max()` etc.
We can also create our own functions by using the `def` keyword.

This is the basic syntax of a function

```python
def funcname(arg1, arg2,... argN):
    ''' Document String'''
    statements
    return <value>```

In [6]:
#Function to determine sum of numbers(sumnos)

def sumnos(a,b,c,d):
    """This function is used to find the sum of numbers"""
    total = (a+b+c+d)#The function has been given four elements(it cannot add or less than 4 args)
    return total

In [7]:
sumnos(4,5,6,7)

22

In [8]:
#Example of error if given less than 4 args
sumnos(6,7)

TypeError: sumnos() missing 2 required positional arguments: 'c' and 'd'

In [11]:
#Function for identifying the age of clients called John

def names():
    """This function is for identifying the age of all clients called John"""
    firstname=input("Enter your first name: ")
    secondname=input("Enter your second name: ")
    if secondname=='John':
        print('We are looking for you sir')
        choice=input('Enter your age: ')
    else:
        print('Thank you for using our services')
    return firstname,secondname

In [12]:
names()#Example where second name is not John

Enter your first name: Kabajo
Enter your second name: Micheal
Thank you for using our services

('Kabajo', 'Micheal')

In [13]:
names()#example where second name is John

Enter your first name: Kabuka
Enter your second name: John
We are looking for you sir
Enter your age: 34

('Kabuka', 'John')

In [10]:
#Function that tells customers of my restaurant the price of snacks availabe on each day

def snack_price():
    doghnut=4000
    samosa=2000
    burger=10000
    submarine=20000
    kebab=5000
    choice= input("Enter 'm' for Monday,'t' for tuesday,'w' for wednesday: ")
    if choice=='m':
        choice=input("Enter 'd' for doghnut,'s' for submarine: ")
        if choice=='d':
            print("Today's price is:%d" % doghnut)
        #elif():
            #print("We only have submarines left and their price today is:%d" % submarine)
        else:
            print("We only have submarines left and their price today is:%d" % submarine)
            print("Mondays are for submarines and doghnuts")
            choice=input("Enter 'd' for doghnut,'s' for submarine: ")
    if choice=='t':
        choice=input("Enter 'sa' for samosa,'b' for burger: ")
        if choice=='sa':
            print("Samosa price is:%d" % samosa)
        #elif():
            #print("The other option is burgers and their price today is: %d" % burger)
        else:
            print("The other option is burgers and their price today is: %d" % burger)
            print("Tuesday is for burgers and samosas")
            choice=input("Enter 'sa' for samosa,'b' for burger: ")
            
    if choice=='w':
        choice=input("Enter 'k' for kebab: ")
        if choice=='k':
            print("The price of kebab today is:%d" % kebab)
        else:
            print("We have no other snack today")
            choice=input("Enter 'k' for kebab: ")
    if choice not in('m','t','w'):
        print("We cant serve you,.Try again")

In [24]:
snack_price()

Enter 'm' for Monday,'t' for tuesday,'w' for wednesday: M
We cant serve you,try again

In [31]:
snack_price()

Enter 'm' for Monday,'t' for tuesday,'w' for wednesday: m
Enter 'd' for doghnut,'s' for submarine: d
Today's price is:4000
We cant serve you,try again

In [ ]:
snack_price()

Enter 'm' for Monday,'t' for tuesday,'w' for wednesday: m
Enter 'd' for doghnut,'s' for submarine: s
We only have submarines left and their price today is:20000
Mondays are for submarines and doghnuts

In [8]:
snack_price()

Enter 'm' for Monday,'t' for tuesday,'w' for wednesday: m
Enter 'd' for doghnut,'s' for submarine: s
We only have submarines left and their price today is:20000
Mondays are for submarines and doghnuts
Enter 'd' for doghnut,'s' for submarine: d

In [9]:
snack_price()

Enter 'm' for Monday,'t' for tuesday,'w' for wednesday: t
Enter 'sa' for samosa,'b' for burger: b
Tuesday is for burgers and samosas
Enter 'sa' for samosa,'b' for burger: sa

In [10]:
snack_price()

Enter 'm' for Monday,'t' for tuesday,'w' for wednesday: t
Enter 'sa' for samosa,'b' for burger: sa
Samosa price is:2000

In [2]:
snack_price()

Enter 'm' for Monday,'t' for tuesday,'w' for wednesday: t
Enter 'sa' for samosa,'b' for burger: b
The other option is burgers and their price today is: 10000
Tuesday is for burgers and samosas
Enter 'sa' for samosa,'b' for burger: sa

In [3]:
snack_price()

Enter 'm' for Monday,'t' for tuesday,'w' for wednesday: w
Enter 'k' for kebab: b
We have no other snack today
Enter 'k' for kebab: k

In [5]:
snack_price()

Enter 'm' for Monday,'t' for tuesday,'w' for wednesday: w
Enter 'k' for kebab: k
The price of kebab today is:5000
We cant serve you,try again

In [6]:
snack_price()

Enter 'm' for Monday,'t' for tuesday,'w' for wednesday: t
Enter 'sa' for samosa,'b' for burger: sa
Samosa price is:2000
We cant serve you,try again

In [8]:
snack_price()

Enter 'm' for Monday,'t' for tuesday,'w' for wednesday: t
Enter 'sa' for samosa,'b' for burger: sa
Samosa price is:2000
We cant serve you,try again

In [11]:
snack_price()

Enter 'm' for Monday,'t' for tuesday,'w' for wednesday: t
Enter 'sa' for samosa,'b' for burger: b
The other option is burgers and their price today is: 10000
Tuesday is for burgers and samosas
Enter 'sa' for samosa,'b' for burger: sa
We cant serve you,.Try again

In [12]:
snack_price()

Enter 'm' for Monday,'t' for tuesday,'w' for wednesday: m
Enter 'd' for doghnut,'s' for submarine: d
Today's price is:4000
We cant serve you,.Try again